---
layout: homepage
image: /img/me-square.png
redirect_from:
  - /about
  - /about/
  - /about-me
  - /about-me/
---

<header class="home">
  <img id="pfp" src="/img/me.png" alt="Ian Renton"/>
  <h1>Ian Renton</h1>
  <h2>Software engineer and builder of robots<br/>Bournemouth, UK</h2>
	<p>Hi! I'm Ian. My hobbies include tinkering with robots, radios and computers. For work I do the same stuff but get paid for it. I'm also a keen amateur cook, gardener and photographer.</p>
	<p>You can email me at <a href="mailto:ian@ianrenton.com">ian@ianrenton.com</a>, <a href="/cv">view my CV</a>, or find me on the air as MØTRT.</p>
</header>

<header class="cardindex">
	<h2>Recent Projects</h2>
</header>

<nav class="cardindex">
  <ul data-component class="card-list">
  	{% include card.html
  	type="horizontal-left"
  	title="ADIF Map Tool"
  	url="https://adifmap.m0trt.radio"
  	image="/img/index/adifmap.png"
  	image-alt="A map display with markers for amateur radio contacts"
  	description="Following the shutdown of the tool I used to make QSO maps for my blog posts, I decided to implement my own. I have expanded it to include some extra features I wanted to see, such as custom icons for outdoor activities, changeable basemaps and marker sizes, etc."
  	readmore-text="Use the web application &rarr;" %}

  	{% include card.html
  	type="horizontal-left"
  	title="POTA New Park Finder"
  	url="https://newparks.m0trt.radio"
  	image="/img/index/pota-new-park-finder.png"
  	image-alt="A map display with markers for POTA parks in different colours"
  	description="For anyone chasing Parks on the Air (POTA) completion in their local area, this web-based tool shows local parks coloured according to whether you, or anyone, has activated them. POTA New Park Finder is a synthesis of my two recent Python-based utilities for POTA, but reworked as an interactive web application that is free for anyone to use."
  	readmore-text="Use the web application &rarr;" %}

  	{% include card.html
  	type="horizontal-left"
  	title="Billy Bass Sat Nav / Bluetooth Bass"
  	url="/projects/bluetooth-bass/"
  	image="/img/projects/bluetooth-bass/satnav-small.jpg"
  	image-alt="A Billy Bass on a car dashboard"
  	description="This project takes my original 'Big Mouth Phatt Bass' in a slightly different direction, using the ESP32 chip's Bluetooth capability to turn the Billy Bass into a Bluetooth audio receiver that moves its head and mouth when audio is played."
  	readmore-text="Read more &rarr;" %}
	</ul>
</nav>


<header class="cardindex">
	<h2>Famous Projects</h2>
</header>

<nav class="cardindex">
  <ul data-component class="card-list">
  	{% include card.html
  	type="horizontal-left"
  	title="Raspberry Tank"
  	url="/projects/raspberry-tank"
  	image="/img/index/tank.jpg"
  	image-alt="The Raspberry Tank, a model Tiger tank shown with a camera and sensors fitted"
  	description="The Raspberry Tank was possibly the first tank-like robot powered by a Raspberry Pi, way back in 2012. It’s smartphone- or laptop-controlled, streams video from its webcam, fires plastic pellets and can navigate autonomously."
  	readmore-text="Read more &rarr;" %}

  	{% include card.html
  	type="horizontal-left"
  	title="Field Spotter"
  	url="/projects/field-spotter"
  	image="/img/projects/field-spotter/banner-small.png"
  	image-alt="A geographic display with some markers, alongside a project logo"
  	description="An easy-to-use, mobile-first Amateur Radio spotting tool for POTA, SOTA & WWFF. It provides a geographical and band position display, with filtering, to allow you to easily find park-to-park and summit-to-summit contacts."
  	readmore-text="Read more &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Plane/Sailing"
  	url="/projects/planesailing"
  	image="/img/index/planesailing.jpg"
  	image-alt="A military tactical software display showing symbols representing boats and planes"
  	description="“Plane/Sailing” is my home tracker for aircraft, ships and more! It receives radio signals via antennas on my house, processes them to share with popular tracking websites, and displays the combined results on a website using military symbology."
  	readmore-text="Read more &rarr;" %}

  	{% include card.html
  	type="horizontal-left"
  	title="Big Mouth Phatt Bass"
  	url="/projects/big-mouth-phatt-bass"
  	image="/img/index/big-mouth-phatt-bass.jpg"
  	image-alt="A Big Mouth Billy Bass with wires sticking out of the back"
  	description="To quote Winston Churchill, “No hour of life is wasted, that is spent making a Billy Bass play techno.” Big Mouth Phatt Bass is a Billy Bass hack using an ESP32 microcontroller to sync the fish motion to a variety of new songs."
  	readmore-text="Read more &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Linux on Linx 1010B Tablet"
  	url="/projects/linux-on-linx-1010b-tablet"
  	image="/img/index/linx.jpg"
  	image-alt="A Linx 1010B tablet running Ubuntu"
  	description="A guide on how to install Linux, plus a few bonus operating systems, on the low-cost Linx 1010B Windows tablet."
  	readmore-text="Read more &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Roast Dinner Timing Chart"
  	url="https://ianrenton.github.io/roastdinner/"
  	image="/img/index/roast.jpg"
  	image-alt="A knife cutting into a roast chicken"
  	description="Some Javascript magic to help you cook the perfect Sunday roast. Simply select your ingredients and a time to serve, and it will generate you a list of timed steps."
  	readmore-text="Use the web application &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Hypixel Skyblock Bazaar Flipping Calculator"
  	url="https://bazaarflip.ianrenton.com/"
  	image="/img/index/bazaarflip.png"
  	image-alt="A table of data about Minecraft items"
  	description="A quick weekend project to help my kid make money in the Hypixel Skyblock Minecraft server, this simple JavaScript tool has rapidly become the most searched-for of all my software."
  	readmore-text="Use the web application &rarr;" %}
	</ul>
</nav>


<header class="cardindex">
	<h2>Older Projects</h2>
</header>

<nav class="cardindex">
  <ul data-component class="card-list">
  	{% include card.html
  	type="horizontal-left"
  	title="Home Meteogram Display"
  	url="/projects/meteogram"
  	image="/img/index/meteogram.jpg"
  	image-alt="A wide screen showing a meteogram and other weather/calendar information"
  	description="My home Meteogram display is a passive weather and calendar display that lives in the kitchen and provides a customised weather forecast for the coming days on an ultra-wide screen."
  	readmore-text="Read more &rarr;" %}

  	{% include card.html
  	type="horizontal-left"
  	title="USV-01 “Harry Paye”"
  	url="/projects/usv-01"
  	image="/img/index/usv.jpg"
  	image-alt="USV-01, a Raspberry Pi-controlled model boat"
  	description="USV-01 “Harry Paye” is an off-the-shelf remote control boat refitted as a testbed for an autonomous navigation system, capable of speeds up to 40 knots."
  	readmore-text="Read more &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Quadcopter"
  	url="/projects/quadcopter"
  	image="/img/index/quad.jpg"
  	image-alt="A quadcopter fitted with a Raspberry Pi, sat on grass"
  	description="Because the Raspberry Tank was confined to just the two boring dimensions, I built a quadcopter and put a Raspberry Pi on that too. It features live video streaming and is switchable between remote and autonomous control."
  	readmore-text="Read more &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="All-Terrain Pi"
  	url="/projects/atp"
  	image="/img/index/atp.jpg"
  	image-alt="All-Terrain Pi, a Raspberry Pi-controlled ATV toy"
  	description="The All-Terrain Pi is a “off-road” remote control toy fitted with a Raspberry Pi, with live video streaming, controllable by touch/tilt input from a smartphone, and capable of running programs written in Scratch."
  	readmore-text="Read more &rarr;" %}
	</ul>
	<p class="morelink"><a href="/projects">More Projects &rarr;</a></p>
</nav>


<header class="cardindex">
	<h2>Blog</h2>
</header>

<nav class="cardindex">
  <ul data-component class="card-list">
    {% for post in site.categories.blog limit:5 %}
      {% capture post-url %}{{ post.url | prepend: site.baseurl }}{% endcapture %}
      {% capture image-url %}{{ post.image | prepend: site.baseurl }}{% endcapture %}
      {% if post.summary %}
      	{% capture summary %}{{ post.summary | markdownify | strip_html }}{% endcapture %}
      {% else %}
      	{% capture summary %}{{ post.content | markdownify | strip_html | truncatewords: 50 }}{% endcapture %}
      {% endif %}
      {% capture meta %}{{ post.date | date: "Written on %A %-d %b %Y" }}{% endcapture %}
	  	{% include card.html
  		type="horizontal-left"
	  	title=post.title
	  	url=post-url
	  	image=image-url
	  	meta=meta
	  	description=summary
	  	readmore-text="Read more &rarr;" %}
	  {% endfor %}
  </ul>
  <p class="morelink"><a href="/blog">More Blog Posts &rarr;</a></p>
</nav>


<header class="cardindex">
	<h2>Miscellaneous</h2>
</header>

<nav class="cardindex">
  <ul data-component class="card-list">  	
  	{% include card.html
  	type="horizontal-left"
  	title="Photography"
  	url="/photography"
  	image="/img/index/photography.jpg"
  	image-alt="A photo of the Red Arrows"
  	description="A bunch of my best photos over the years."
  	readmore-text="View the Photos &rarr;" %}
  	
  	{% include card.html
  	type="horizontal-left"
  	title="Film Reviews (by the Numbers)"
  	url="/filmreviews"
  	image="/img/index/sharknado.jpg"
  	image-alt="A screenshot from the film 'Sharknado'"
  	description="By the combined powers of Netflix and cheap cider, the Saturday Night Shenanigans crew presents… largely incoherent mocking of films!"
  	readmore-text="Let's mock some films! &rarr;" %}
	</ul>
</nav>
