---
comments: false
date: 2010-01-01 00:00:00
layout: page
slug: film-reviews
title: Film Reviews (by the Numbers)
wordpress_id: 3260
---

{% capture posts %}
  {% for post in site.filmreviews %}
    |{{ post.title }}#{{ post.url }}
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}

<p>By the combined powers of Netflix and cheap cider, the Saturday Night Shenanigans crew presents... largely incoherent mocking of films!</p>

<p>For reference, notes on <a href="./frbtn-overall-score-notes/">how we calculate the 'overall score'</a>, and the never-ending <a href="./waiting-list">waiting list</a> of films we have been asked to review.</p>

<h2>The Films</h2>

<div class="table-col">
  <h3>Sorted by Review Date</h3>
  <ol reversed="reversed">
    {% for post in site.filmreviews reversed %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ol>
</div>
<div class="table-col">
  <h3>Sorted by Title</h3>
  <ul>
    {% for post in sortedposts %}
      {% assign postitems = post | split: '#' %}
      <li><a href={{ postitems[1] }}">{{ postitems[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
