{% if page.comments != false %}

<div class="window selectedwindow" id="homepagebanner">
  <div class="closebox"><a class="closebox-link" href="#">Close</a></div>
  <div class="maxbox"><div class="maxbox-link"></div></div>
  <div class="titlebar">
    <h1 class="title">Comments</h1>
  </div>
  <div class="windowcontent">
    <div class="paddedwindowhtml">
      {% comment %} Existing comments (if any) {% endcomment %}
      {% assign slug = (page.slug || (page.title | slugify)) %}
      {% if site.data.comments[slug] %}

      <div class="page-content commentsexisting">
          {% assign comments = site.data.comments[slug] %}
          {% assign comments_by_date = (comments | sort) %}
          {% for comment in comments_by_date %}
            {% assign index = forloop.index | plus: 1 %}
            {% assign email = comment[1].email %}
            {% assign name = comment[1].name %}
            {% assign url = comment[1].url %}
            {% assign date = comment[1].date %}
            {% assign message = comment[1].message %}
            {% include comment.html index=index email=email name=name url=url date=date message=message %}
          {% endfor %}
        </div>
      {% endif %}

      {% comment %} New comment form {% endcomment %}
      <div id="respond" class="commentnew">
        {% include comment_form.html %}
      </div>

      {% comment %} Javascript functions {% endcomment %}
      <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
      <script src="{{ '/js/comments.js' | relative_url }}"></script>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </div>
  </div>
</div>
{% endif %}
