<article id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}"
  class="js-comment comment {% if include.name == site.author.name %}admin{% endif %}"
  uid="{{ include.uid }}">

  <img class="gravatar" src="https://www.gravatar.com/avatar/{{include.email}}?d=identicon" />

  <div class="commentinner">
    <div class="commentauthor">
      {{ include.name }}
      <span class="commentdate">
        {% if include.date %}
          {% if include.index %}
            <a href="#comment{{ include.index | prepend: '-' }}" title="Permalink to this comment">
          {% endif %}
          {{ include.date | date_to_long_string }}
          {% comment %}
            {% include format-date.html date=include.date time=false weekDay=true %}
          {% endcomment %}
          {% if include.index %}</a>{% endif %}
        {% endif %}
      </span>
    </div>

    <div class="commentbody">
      {{ include.message | markdownify }}
    </div>
</div>
</article>