{% assign slug = (page.slug || (page.title | slugify)) %}

<form class="js-form form commentform" method="post" action="{{ site.staticman_url }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[slug]" value="{{ page.slug || (page.title | slugify) }}">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">

  {% comment %} If there are existing comments, use an "add a comment" header - if not, "add a comment" will already have been put in the main comment header {% endcomment %}
  {% assign slug = (page.slug || (page.title | slugify)) %}
  {% if site.data.comments[slug] %}
    <h4>Add a Comment</h4>
  {% endif %}

  <div class="newcommentauthor">
      <label for="comment-form-name">Name:&nbsp;<input class="textfield__input" name="fields[name]" type="text" id="comment-form-name" placeholder="Your name"/>
      </label>
      <label for="comment-form-email">Email:&nbsp;<input class="textfield__input" name="fields[email]" type="email" id="comment-form-email" placeholder="Your email address (optional)"/>
      </label>
  </div>

  <p>
    <div class="textfield">
      <textarea class="textfield__input" name="fields[message]" type="text" id="comment-form-message" placeholder="Your comment. Use Markdown syntax for formatting." onkeyup="commentTextFieldOnKeyUp()"></textarea>
    </div>
  </p>

  <p id="subscribetoggle">
    <input type="checkbox" id="comment-form-subscribe" name="options[subscribe]" value="email"><label for="comment-form-subscribe">Send me an email when someone else comments on this post</label>
  </p>

  <p id="commentpreviewtoggle">
    <input type="checkbox" id="comment-form-show-preview"><label for="comment-form-show-preview">Show Markdown formatting preview</label>
  </p>

  <div id="commentpreviewsection" style="display: none"/>
    <div id="commentpreview"></div>
  </div>

  <p>
    <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}" style="display: none"></div>
  </p>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <div id="comment-form-submit-result" style="display: none"></div>

  <p>
    <button class="button" id="comment-form-submit">Submit</button>
  </p>
</form>
