<footer class="site-footer {{ layout.headerclass }}">
  <nav class="site-nav">
    <a class="page-link" href="mailto:{{ site.email }}">E-mail</a>
    <a class="page-link" href="/cv">CV</a>
    <a class="page-link" href="https://twitter.com/i_renton">Twitter</a>
    <a class="page-link" href="https://github.com/ianrenton">GitHub</a>
    <a class="page-link" href="https://www.qrz.com/db/M7BGT">QRZ</a>
  </nav>
  Ian Renton <span class="subtitle">Software engineer and builder of robots</span>
</footer>
