<footer class="site-footer {{ layout.headerclass }}">
    <div class="wrapper">
      <nav class="site-nav">
        <a class="page-link" href="mailto:{{ site.email }}">E-mail</a>
        <a class="page-link" href="/cv">CV</a>
        <a class="page-link" rel="me" href="https://mastodon.lol/@ianrenton">Mastodon</a>
        <a class="page-link" rel="me" href="https://github.com/ianrenton">GitHub</a>
      </nav>
      Ian Renton <span class="subtitle">Software engineer and builder of robots</span>
    </div>
</footer>
