
{% capture categoryslug %}{{ page.categories | last }}{% endcapture %}
{% capture categoryfriendlyname %}{{ site.categoryFriendlyNames[categoryslug] }}{% endcapture %}

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% if categoryfriendlyname != "" %} | {{ categoryfriendlyname }}{% endif %} | {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="icon" type="image/svg+xml" href="/img/me.svg">
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#FFF7E7" />
  <meta name="author" content="Ian Renton" />
  <meta name="fediverse:creator" content="@ian@mastodon.radio" />
  <link rel="me" href="https://mastodon.radio/@ian" />
  <link rel="me" href="https://github.com/ianrenton" />
  {% seo title=false %}
</head>
