<header class="site-header {{ layout.headerclass }}">
  <div class="window">
    <div class="closebox"><a class="closebox-link" href="#">Close</a></div>
    <div class="maxbox"><div class="maxbox-link"></div></div>
    <div class="titlebar">
      <h1 class="title">IanRenton.com &mdash; Main Menu</h1>
    </div>
    <div class="windowcontent">
      <nav class="site-nav">
        <a class="icon" href="/">
          <img src="/icons/home_32.png">
          <p><span class="iconname">Home</span></p>
        </a>
        <a class="icon" href="/hardware/">
          <img src="/icons/hardware_32.png">
          <p><span class="iconname">Hardware</span></p>
        </a>
        <a class="icon" href="/software/">
          <img src="/icons/software_32.png">
          <p><span class="iconname">Software</span></p>
        </a>
        <a class="icon" href="/websites/">
          <img src="/icons/websites_32.png">
          <p><span class="iconname">Websites</span></p>
        </a>
        <a class="icon" href="/filmreviews/">
          <img src="/icons/frbtn_32.png">
          <p><span class="iconname">FRbtN</span></p>
        </a>
        <a class="icon" href="/cv/">
          <img src="/icons/cv_32.png">
          <p><span class="iconname">CV</span></p>
        </a>
        <a class="icon" href="mailto:{{ site.email }}">
          <img src="/icons/mail_32.png">
          <p><span class="iconname">E-mail</span></p>
        </a>
        <a class="icon" href="https://twitter.com/i_renton">
          <img src="/icons/twitter_32.png">
          <p><span class="iconname">Twitter</span></p>
        </a>
        <a class="icon" href="https://github.com/ianrenton">
          <img src="/icons/github_32.png">
          <p><span class="iconname">GitHub</span></p>
        </a>
      </nav>
    </div>
  </div>
</header>
