/* Base styling for all pages */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/* Vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, table, %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/* Headings */
h1 {
    font-size: $massive-font-size;

    @include media-query($on-laptop) {
        font-size: $big-font-size;
    }

}

h2 {
    font-size: $huge-font-size;

    @include media-query($on-laptop) {
        font-size: $big-font-size;
    }

}

h3 {
    font-size: $big-font-size;

    @include media-query($on-laptop) {
        font-size: $base-font-size;
    }

}

h4 {
    font-size: $base-font-size;

    @include media-query($on-laptop) {
        font-size: $base-font-size;
    }

}

/* Paragraphs */
p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

/* Images & image layout */
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

img.left {
    float: left;
    margin-right: 2em;
    box-shadow: 0px 0px 15px black;
}

img.right {
    float: right;
    margin-left: 2em;
    box-shadow: 0px 0px 15px black;
}

img.center {
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 15px black;
}

img.noshadow {
    box-shadow: none !important;
}

/* Figures */
figure > img {
    display: block;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding-bottom: 1em;
}

/* Fake caption - best we can do in pure markdown, just do:
     ![name](href)
     *caption*
   and we can pick it up as a kind-of-caption.*/
img + em {
    display: block;
    text-align: center;
    font-style: italic;
    padding-top: 1em;
}

/* Lists */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul, > ol {
        margin-bottom: 0;
    }

}

/* Links */
a {
    color: $brand-color;
    text-decoration: underline;

    &:visited {
        color: $brand-color;
    }

}

/* Blockquotes */
blockquote {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: $grey-color-dark;
    text-align: center;
    font-style: italic;
}

/* Horizontal rule */
hr {
    margin: $spacing-unit 0 $spacing-unit 0;
    border-top: 1px solid $grey-color-dark;
}

/* Code */
div.highlight {
    border-radius: 3px;
}

pre, code {
    font-size: 15px;
    background-color: $code-background-color;
    font-family: $code-font-family;
    color: $code-text-color;
}

pre {
    padding: 8px 12px;
    border-radius: 3px;
    overflow-x: auto;
    -webkit-scrollbar-color: dark;
    scrollbar-color: lighten($code-background-color, 40%) $code-background-color;
}

code {
    padding: 1px 5px;
    white-space: nowrap;
    border-radius: 3px;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
