/* Styles for the comment section */

/* Section header */
.commentheader {
  margin: $spacing-unit*2 0 $spacing-unit 0;
  position: relative;
  border-top: 1px solid $grey-color-dark;

  > h1 {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -1px;
    font-size: $big-font-size;
  }

}

/* List of existing comments */
article.comment {
  margin-bottom: $spacing-unit;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

div.commentinner,
form.commentform {
  margin-left: 100px;
}

div.commentauthor {
  border-bottom: 1px solid $grey-color-dark;
  margin-bottom: 0.5em;
  font-weight: bold;
}

span.commentdate {
  float: right;
  font-weight: normal;
  color: $grey-color;

  > a {
    color: $grey-color;
    text-decoration: none;
  }

}

img.gravatar {
  float: left;
}

/* New Comment section */
div.commentnew {
  margin-bottom: $spacing-unit+$header-footer-height;
}

div.newcommentauthor {
  margin-bottom: 0.5em;
}

label {
  display: inline-block;
}

input#comment-form-name,
input#comment-form-email {
  width: 14em;
  margin-right: 2em;
}

textarea#comment-form-message {
  width: 41em;
  height: 10em;
}

input#comment-form-subscribe {
  margin-right: 0.5em;
}

input, textarea, select {
  border: 1px solid black;
}

button#comment-form-submit {
  margin-top: 5px;
  border: 2px solid black;
}

div.g-recaptcha {
  margin-top: 0.5em;
}

div.js-modal-text {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.js-modal-text-error {
  color: red;
}

/* Simplification and rearrangement on mobile */
@include media-query($on-palm) {
  input#comment-form-name,
  input#comment-form-email {
    width: 17em;
  }

  textarea#comment-form-message {
    width: 17em;
    height: 5em;
  }

  img.gravatar {
    display: none;
  }

  div.commentinner,
  form.commentform {
    margin-left: 0px;
  }

}
