/* Styles for the comment section */

/* List of existing comments */
article.comment {
  margin-bottom: $spacing-unit;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

div.commentinner,
form.commentform {
  margin-left: 100px;
}

div.commentauthor {
  border-bottom: 1px solid $text-color;
  margin-bottom: 0.5em;
  font-weight: bold;
}

span.commentdate {
  float: right;
  font-weight: normal;
  font-size: $tiny-font-size;
  color: $grey-color-semidark;

  > a {
    color: $grey-color-semidark;
    text-decoration: none;
  }

}

img.gravatar {
  float: left;
}

/* New Comment section */

div.commentnew {
  margin: $spacing-unit 0;
}

.commentform {
  > h1 {
    letter-spacing: -1px;
    font-size: $big-font-size;
  }

}

div.newcommentauthor {
  margin-bottom: 0.5em;
}

label {
  display: inline-block;
}

input#comment-form-name,
input#comment-form-email {
  width: 14em;
  margin-right: 2em;
}

textarea#comment-form-message {
  width: 41em;
  height: 10em;
  font-family: monospace;
  font-size: 0.9em;
}

#commentpreview {
  width: 35em;
  padding: 1em 1em 0.1em 1em;
}

input#comment-form-show-preview {
  margin-right: 0.5em;
}

input, textarea, select, #commentpreview {
  border: 1px solid black;
}

#commentpreviewsection {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

button#comment-form-submit {
  margin-top: 5px;
  border: 2px solid black;
}

div.g-recaptcha {
  margin-top: 0.5em;
}

#comment-form-submit-result {
  margin-top: 1em;
}

/* Simplification and rearrangement on mobile */
@include media-query($on-palm) {
  input#comment-form-name,
  input#comment-form-email {
    width: 16em;
  }

  textarea#comment-form-message {
    width: 20em;
    height: 5em;
  }

  #commentpreview {
    width: 16em;
  }

  img.gravatar {
    display: none;
  }

  div.commentinner,
  form.commentform {
    margin-left: 0px;
  }

}
