/* Size, colour, font etc. definitions for use in the other SASS files */

/* Layout */
$header-footer-height: 56px;
$spacing-unit:     30px;
$base-line-height: 1.5;
$content-width:    900px;
$wide-content-width:    1200px;

/* Text sizes */
$base-font-size:   18px;
$massive-font-size:  $base-font-size * 2.5;
$huge-font-size:  $base-font-size * 2.0;
$big-font-size:  $base-font-size * 1.5;
$slightlybig-font-size:  $base-font-size * 1.2;
$small-font-size:  $base-font-size * 0.9;
$tiny-font-size:  $base-font-size * 0.7;

/* Colours */
$text-color:       black;
$background-color: white;
$brand-color:      #007AFF;
$grey-color:       #666666;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$code-text-color:  #D0D0D0;
$code-background-color: #282828;

/* Fonts */
$base-font-family: -apple-system, BlinkMacSystemFont, "tex_gyre_heros", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font-family: -apple-system, BlinkMacSystemFont, "tex_gyre_heros", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font-family: "Consolas", "Lucida Console", mono, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: url('texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

/* Mixins */
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Definitions for Mixins */
$on-palm:          600px;
$on-laptop:        900px;