/* Size, colour, font etc. definitions for use in the other SASS files */

/* Layout */
$header-footer-height: 56px;
$spacing-unit:     30px;
$base-line-height: 1.5;
$content-width:    900px;
$wide-content-width:    1200px;

/* Text sizes */
$base-font-size:   18px;
$text-font-size:   20px;
$massive-font-size:  $base-font-size * 2.5;
$huge-font-size:  $base-font-size * 2.0;
$big-font-size:  $base-font-size * 1.5;
$slightlybig-font-size:  $base-font-size * 1.2;
$small-font-size:  $base-font-size * 0.9;
$tiny-font-size:  $base-font-size * 0.7;

/* Colours */
$text-color:       black;
$background-color: rgb(244, 241, 222);
$brand-color:      rgb(61, 64, 91);
$alt-background-color: rgb(61, 64, 91);
$alt-text-color:   rgb(244, 241, 222);
$grey-color:       #666666;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$code-text-color:  #282828;
$code-background-color: #fbf1c7;

/* Fonts */
$base-font-family: "Lora", "Libre Baskerville", "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
$heading-font-family: "Lora", "Libre Baskerville", "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
$code-font-family: "Consolas", "Lucida Console", mono, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(''),
       url('lora-v16-latin-regular.woff2') format('woff2'),
       url('lora-v16-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(''),
       url('lora-v16-latin-700.woff2') format('woff2'),
       url('lora-v16-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local(''),
       url('lora-v16-latin-italic.woff2') format('woff2'),
       url('lora-v16-latin-italic.woff') format('woff');
}

/* Mixins */
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Definitions for Mixins */
$on-palm:          600px;
$on-laptop:        900px;