/* Size, colour, font etc. definitions for use in the other SASS files */

$base-font-family: "Libre Baskerville", "Charter ITC", "Nimbus Serif", "Droid Serif", "Cambria", Georgia, "Times New Roman", Times, serif;
$base-font-size:   18px;
$massive-font-size:  $base-font-size * 2.1;
$huge-font-size:  $base-font-size * 1.6;
$big-font-size:  $base-font-size * 1.3;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       black;
$text-color-inverted:       white;
$background-color: white;
$background-color-inverted: #39415a;
$brand-color:      #1f46bf;

$grey-color:       #666666;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Font definition
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');
