body, input {
  font-family: 'Source Serif 4', serif;
  font-size: 20px;
}

ul#toc, .notes, .warning, .storynav, p#commentpreviewtoggle, p#subscribetoggle, button#comment-form-submit, #comment-form-submit-result {
  font-family: Inter, sans-serif;
}

.notes, .warning, .storynav {
  font-size: 16px;
}

p#commentpreviewtoggle, p#subscribetoggle, button#comment-form-submit {
  font-size: 16px;
}

pre, code, textarea#comment-form-message {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
}