/**
 * Site footer
 */
.site-footer {
    background-color: $background-color-inverted;
    line-height: $header-footer-height;
    color: $text-color-inverted;
    -webkit-box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px -6px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px -6px 6px 0px rgba(0, 0, 0, 0.3);
    clear: both;
}

footer.hidden {
    display: none;
}

/* Clamp footer to bottom of page or window */
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:$header-footer-height - 5; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%;
}

span.subtitle {
    padding-left: 1em;
    font-size: $tiny-font-size;
    color: $grey-color-light;
}