/**
 * Site footer
 */
.site-footer {
    background-color: $background-color-shaded;
    padding: 0 0 $spacing-unit 0;
    border-top: 2px solid $text-color;
    box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.3);
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
    height: 60px;
}

.footer-list {
    list-style: none;
    margin-left: 0;

    > li > a, a:visited, a:hover {
        color: $brand-color !important;
        text-decoration: none !important;
    }
}

.footer-col-wrapper {
    font-size: $small-font-size;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    padding-top: 2em;
    @extend %clearfix;

    > * > a, a:visited, a:hover {
        color: $brand-color !important;
        text-decoration: none !important;
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

input.search {
    background: none;
    color: $text-color;
    border: none;
    border-bottom: 2px solid $text-color;
    font-family: $base-font-family;
    font-size: $big-font-size;
    width: 100%;
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-2,
    .footer-col-3 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
