/**
 * Site header & homepage banner style
 */
.site-header {
    background-color: $background-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: $big-font-size;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    &,
    &:visited {
        color: $text-color;
        font-weight: bold;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-weight: bold;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            line-height: 0.8em;
            font-size: 250%;
            text-align: center;
            color: $text-color;
            text-decoration: none;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Homepage banner
 */
div#homepagebanner {
  margin-bottom: 2em;

  .top {
    img {
      float:left;
      margin-right: 2em;
    }
    h1, h2 {
      display: inline-block;
    }
    h1 {
      font-size: 60px;
      margin-bottom: 0.2em;
      line-height: 1em;
      letter-spacing: -1px;
    }
  }
}
