/**
 * Site header & homepage banner style
 */
.site-header {
    background-color: $background-color-inverted;
    min-height: 56px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 6px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 6px 6px 0px rgba(0, 0, 0, 0.3);

    // Positioning context for the mobile navigation icon
    position: relative;
}

header.hidden {
    display: none;
}

.site-title {
    font-size: $big-font-size;
    line-height: $header-footer-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    &,
    &:visited {
        color: $text-color-inverted;
    }
}

.site-nav {
    float: right;
    line-height: $header-footer-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color-inverted;
        line-height: $base-line-height;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color-inverted;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            line-height: 0.8em;
            font-size: 250%;
            text-align: center;
            color: $text-color-inverted;
            text-decoration: none;
        }

        .trigger {
            clear: both;
            display: none;
            background-color: $background-color-inverted;
            position: relative;
            top: 15px;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Homepage banner
 */
div#homepage-top-content {
  padding-top: 1em;
}

div#homepagebanner {
  .top {
    margin-bottom: 1.5em;
    img {
      float:left;
      margin-right: 2em;
	  margin-bottom: 0.5em;
    }
    h1, h2 {
      display: inline-block;
    }
    h1 {
      font-size: 60px;
      margin-bottom: 0.2em;
      margin-top: 0.1em;
      line-height: 1em;
      letter-spacing: -1px;
    }
	h2 {
	  font-size: 26px;
	}
  }
}
