nav#site-header {
  display: flex;
  padding: 0 0.5em 0.5em 0.5em;
  border-bottom: 1px solid #aaa;
  font-size: 1.2em;
}

.site-title {
  line-height: 2em;
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;

  &,
  &:visited {
      color: var(--text-color);
  }
}

img.header-logo {
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 0.3em;
  margin-top: -0.3em;
}

nav#site-header-right {
  line-height: 2em;
  display: flex;
  align-items:center;
  font-size: 0.9em;
  text-align: right;

  a {
    text-decoration: none;
    color: var(--text-color);
    &:not(:first-child) {
      margin-left: 20px;
    }

  }
}

@include media-query($on-palm) {
  nav#site-header-right {
    display: none;
  }
}
