header.home {  
  margin-bottom: var(--layout-spacing);

	img {
		float: left;
		margin-right: 2em;
		margin-bottom: 0.5em;
	}
	
	h1, h2 {
	  margin-top: 0.5em;
      display: block;
  }
	
	h1 {
	  font-size: 2.4em;
	  font-weight: 700;
    }
	
	h2 {
	  font-size: 1.2em;
	  font-weight: 400;
	  font-style: italic;
    }
  
  p {
  	margin-top: 2em;
  }
}

@include media-query($on-palm) {
	header.home {
		img {
		  float: none;
		}
		
		h2 {
		  display: none;
		}
	}
}

header.cardindex {
  margin-bottom: 2em;
  text-align: center;
}

header.cardindex > h2 {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

nav.cardindex > p.morelink {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: right;
  font-size: 1.1em;
  font-style: italic;
}
  
