/* Common layouts */

/* Wrapper fixes the width of the content to something with reasonable word wrap */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.widewrapper {
    max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$wide-content-width} - (#{$spacing-unit}));
    }
}

/* Windows */
.window {
  position: relative;
  z-index: 2;
  display: table;
  min-width: 400px;
  max-width: 80%;
  margin: $spacing-unit auto;
  border: 1px solid #111;
  background: #fff;
  box-shadow: 1px 1px #111;
}

@include media-query($on-palm) {
  .window {
    max-width: 99%;
  }
}

.titlebar {
  max-height: 20px;
  overflow: none;
  padding: 1px 0;
  margin: 1px 0 0 0;
  text-align: center;
  border-bottom: 1px solid #111;
  background-color: #f0f0f0;
  box-shadow: inset 1px -3px 0px -2px #a8a9b6;
  background: url("../images/lines.png") repeat;
}

.title {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0 auto;
  position: relative;
  top: -2px;
  overflow: none;
  text-align: center;
  font-size: 12px;
  font-family: $title-font-family;
  font-weight: normal;
  background-color: #f0f0f0;
}

.closebox {
  float: left;
  padding: 1px;
  margin: 4px;
  background-color: #d1d2e3;
  border-top: 1px solid #38394a;
  border-left: 1px solid #38394a;
  box-shadow: 0 0 0px 1px #f0f0f0;
}

.closebox-link {
  display: block;
  height: 8px;
  width: 8px;
  background-color: #a2a5ae;
  border-bottom: 1px solid #38394a;
  border-right: 1px solid #38394a;
  text-indent: -99999em;
}

.closebox-link:hover {
  background-color: #ccc;
}

.maxbox {
  float: right;
  padding: 1px;
  margin: 4px;
  background-color: #d1d2e3;
  border-top: 1px solid #38394a;
  border-left: 1px solid #38394a;
  box-shadow: 0 0 0px 1px #f0f0f0;
}

.maxbox-link {
  height: 8px;
  width: 8px;
  background-color: #a2a5ae;
  border-bottom: 1px solid #38394a;
  border-right: 1px solid #38394a;
}

.maxbox-link:before {
  height: 5px;
  width: 5px;
  border-bottom: 1px solid #38394a;
  border-right: 1px solid #38394a;
  background-color: #a2a4ae;
  display: block;
  content: "";
}

.paddedwindowhtml {
  margin: 2em;
}

/* Icons */
.icon {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.icon p {
    display: block;
    margin: 5px auto 0 auto;
    padding: 2px;
}

/* Clear fix */
div.clear {
    @extend %clearfix;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
