/* Common layouts */

/* Wrapper fixes the width of the content to something with reasonable word wrap */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.widewrapper {
    max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$wide-content-width} - (#{$spacing-unit}));
    }
}

/* Windows */
.window {
    z-index: 2;
    margin: 0 0 $spacing-unit 0;
    padding: 5px;
    background-color: $grey-color;
    box-shadow:
        inset 0 0 0 1px darkgrey,
        inset 0 0 0 3px $grey-color,
        inset 0 0 0 4px white,
        inset 0 0 0 5px darkgrey;
}

.windowtitle {
    display: inline-block;
    padding: 5px 10px 4px 10px;
    font-size: $tiny-font-size;
    font-weight: bold;
    color: $text-color;
    cursor: default;
    
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;

    > img {
        padding-bottom: 5px;
        margin-right: 3px;
    }

    > a {
        text-decoration: none;
        color: $text-color;
    }
}

.windowtitleactive {
    background: $tab-bottom-color;
    background: linear-gradient(0deg, $tab-bottom-color 0%, $tab-top-color 100%);
    z-index: 3;
}

.windowtitleinactive {
    color: $tab-inactive-text-color;
    background: $tab-inactive-color;
    position: relative;
    z-index: 1;

    > a {
        color: darken($tab-inactive-text-color, 20%);
    }
}

.windowtitleinactiveleft {
    top: 2px;
    left: 3px;
}

.windowtitleinactiveright {
    top: 3px;
    left: -3px;
}

/* Clear fix */
div.clear {
    @extend %clearfix;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
