/* Common layouts */

/* Wrapper fixes the width of the content to something with reasonable word wrap */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.widewrapper {
    max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$wide-content-width} - (#{$spacing-unit}));
    }
}

/* Windows */
.window {
    margin-bottom: $spacing-unit;
    padding: 4px;
    background-color: white;
    box-shadow:
        inset 0 0 0 1px black,
        inset 0 0 0 3px lightgrey,
        inset 0 0 0 4px black;
}

.windowheader {
    background-color: lightgrey;
    color: black;
    border-bottom: 1px solid black;
    font-family: $ui-font-family;
    font-size: 14px;
    height: 20px; 
}

.selectedwindow .windowheader {
    background-color: darkblue;
    color: white;
}

.windowtitle {
    padding: 2px;
    line-height: 16px;
    text-align: center;
    cursor: default;

    > a {
        color: white;
        text-decoration: none;
    }
}

.windowclose {
    float: left;
    display: inline-block;
    width: 15px;
    height: 19px;
    line-height: 18px;
    padding: 0 0 1px 5px;
    background-color: lightgrey;
    border-right: 1px solid black;
    font-size: 20px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px darkgrey;
    cursor: default;
}

.windowmenubar {
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 14px;
    height: 12px;
    padding: 4px;
    line-height: 16px;
    cursor: default;
}

.windowclose::before {
    content: '-';
}

.ui-icon-gripsmall-diagonal-se {
    background-image: none !important;
}

/* Window contents */
.windowinner {
    height: calc(100% - 21px);
    width: 100%;
    overflow: hidden;
}
.windowmenubar + .windowinner {
    height: calc(100% - 42px) !important;
}

.fullwindowhtml {
    padding: 0px 8px;
}

.paddedwindowhtml {
    padding: 16px 16px;
}

/* Icons */
.icon {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-family: $ui-font-family;
}

.icon p {
    display: block;
    margin: 5px auto 0 auto;
    padding: 2px;
}

.icon p.highlight {
    background-color: darkblue;
    color: white;
}

/* Clear fix */
div.clear {
    @extend %clearfix;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
