/**
 * CSS overrides for print
 */
@media print {
  * {
    background: none;
    color: black;
  }
  .page-content {
    margin: 0;
    padding: 0;
    font-size: 12px;
    > .wrapper {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .post-content h2 {
      font-size: 18px;
  }
  header, footer, .juvia-topic h1, .juvia-add-comment-form, .juvia-reply-to-comment {
    display: none;
  }
}
