/* Styles for fiction stories, no longer used on accessibly pages */

/* More book-like formatting for things tagged as "story".
   Remember to use <div class="story" markdown="1"> to parse internal markdown! */
.story {
  p + p {
    text-indent: 2em;
  }

  /* Subsequent paragraphs indent without margin-bottom until they reach another
     element */
  p {
    margin-bottom: 0;
  }

  /* Restore vertical rhythm when another element is reached */
  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + blockquote, p + pre, p + ul, p + ol, p + dl, p + figure, p + img, p + div {
    margin-top: var(--layout-spacing-half);
  }

}

/* Grey inset box for story navigation */
.storynav {
  margin-bottom: 1em;
  padding: 0.1em;
  border-left: 3px solid #808080;
  background-color: #D0D0D0;

  > p {
    margin: 1em;
  }
}
