/* Styles for tables. */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  overflow-x: auto;
  font-family: $text-font-family;
}

th,
td {
  vertical-align: top;
  text-align: left;
  padding: 0.5rem;
}

/* Borders */
table tr > th[scope='col'] {
  border-bottom: 1.36px solid black;
}
table tr > th[scope='row'] {
  border-right: 1.36px solid black;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1.36px solid black;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1.36px solid black;
}
