<Files .htaccess>
  order allow,deny
  deny from all
</Files>
Options +FollowSymlinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^about-me(\/?)$ / [L]
  RewriteRule ^about(\/?)$ / [L]
  RewriteRule ^raspberrytank(\/?)$ /hardware/raspberry-tank [L]
  RewriteRule ^raspberry-tank(\/?)$ /hardware/raspberry-tank [L]
  RewriteRule ^raspberry-tank-build-diary(\/?)$ /hardware/raspberry-tank [L]
  RewriteRule ^hardware/raspberrytank(\/?)$ /hardware/raspberry-tank [L]
  RewriteRule ^quadcopter(\/?)$ /hardware/quadcopter [L]
  RewriteRule ^legoturtle(\/?)$ /hardware/lego-turtle [L]
  RewriteRule ^software/(.+)$ https://github.com/ianrenton/$1 [L,R=301]
</IfModule>
