/**
 * JStyles for comment sections
 */
.commentheader {
   background-color: $background-color-inverted;
   margin: $spacing-unit 0 $spacing-unit 0;

   // Positioning context for the mobile navigation icon
   position: relative;
   box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.3);

   > .wrapper > h1 {
     font-size: 160%;
     color: $text-color-inverted;
     margin-bottom: 0;
   }
}

.juvia-container {
    font-family: $base-font-family !important;
    font-size: $base-font-size !important;
}

.juvia-comment .juvia-avatar {
    margin-top: 0 !important;
}

.juvia-comment .juvia-metadata {
  background: transparent none repeat scroll 0% 0% !important;
  border-bottom: 2px solid $background-color-inverted;
}

.juvia-comment .juvia-creation-date {
    font-size: 90% !important;
}
@include media-query($on-laptop) {
  .juvia-comment .juvia-creation-date {
      display: none;
  }
}

.juvia-topic h1 {
    margin-top: 1em;
    font-size: 160%;
}

.juvia-textarea-field textarea {
  max-width: 100% !important;
}

.juvia-container blockquote p {
    text-align: left !important;
}

.juvia-preview h4 {
    margin-top: 1em;
}
