/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            line-height: 2em;
            padding: 0 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Homepage banner
 */
div#homepagebanner {
  margin-bottom: 2em;
  border-bottom: 1px solid $grey-color-light;
  
  .top {
    img {
      float:left;
      margin-right: 2em;
    }
    h1, h2 {
      display: inline-block;
    }
  }
}


/**
 * Left/right tables in post content
 */
.table-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}
@include media-query($on-palm) {
    .table-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
    height: 60px;
}

.footer-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: lighten($text-color, 15%);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-2,
    .footer-col-3 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Nav
 */
.pagination {  
  > .pagination-left {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  > .pagination-right {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: top;
  }
}

/**
 * More book-like formatting for things tagged as "story".
 * Remember to use <div class="story" markdown="1"> to parse internal markdown!
 */
.story {
    p + p {
        text-indent: 2em;
    }
    
    /**
     * Subsequent paragraphs indent without margin-bottom until they reach another
     * element
     */
    p {
        margin-bottom: 0;
    }

    p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + blockquote, p + pre,
    p + ul, p + ol, p + dl, p + figure, p + img, p + div {
        margin-top: $spacing-unit / 2;
    }
}

.storynav, .notes, #storynav, #notes {
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 0.1em;
  border: 1px solid #A0A000;
  background-color: #FFFFA0;
  > p {
    margin: 1em;
  }
}

.oldwarning {
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 0.1em;
  color: #D00000;
  border: 1px solid #D00000;
  background-color: #FFDDDD;
  > p {
    margin: 1em;
  }
}
