/**
 * CSS overrides for print
 */
@media print {
  * {
    background: none;
    color: black;
  }
  #sidebar {
    display: none;
  }
  .page-content {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .juvia-topic h1, .juvia-add-comment-form, .juvia-reply-to-comment {
    display: none;
  }
}
