---
layout: default
---

{% capture threshold %}{{'2009-10-15 00:00:00 +0000' | date: '%s'}}{% endcapture %}
{% capture pagedate %}{{page.date | date: '%s'}}{% endcapture %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "Written on %A %-d %B %Y" }}</p>
  </header>
  
  {% if pagedate < threshold and page.collection == nil %}
  <div class="oldwarning"><p>This is a very old post that was automatically imported from LiveJournal. I have done my best to fix up the formatting, but some issues may remain. Comments have not been preserved.</p></div>
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>
  
  {% if page.collection == nil %}
  <div class="pagination">{% if page.previous.url %}<div class="pagination-left"><a href="{{page.previous.url}}">&laquo; Previous Post<br/>{{ page.previous.title }}</a></div>{% endif %}{% if page.next.url %}<div class="pagination-right"><a href="{{page.next.url}}">Next Post &raquo;<br/>{{ page.next.title }}</a></div>{% endif %}</div>
  {% endif %}
  
  {% if pagedate >= threshold or page.collection != nil %}{% include juvia.html %}{% endif %}

</div>
