---
layout: default
---
<div class="wrapper">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">Blog Archive for {{ page.year }}</h1>
    <p class="post-meta">(Earliest first)</p>
  </header>

  <ul class="post-list">
    {% capture pageyear %} {{ page.year }} {% endcapture %}
    {% for post in site.posts reversed %}
      {% capture postyear %} {{ post.date | date: '%Y' }} {% endcapture %}
      {% if postyear == pageyear %}
      <li>
        <span class="post-meta">{{ post.date | date: "Written on %A %-d %b %Y" }}</span>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
</div>
