---
layout: default
---

{% assign set = page.photos.set %}
{% assign setbasepath = 'photography/images/' | append: set | append: '/' %}

<div class="page-content">
  <div class="wrapper">

    <header class="post-header">
      <h3 class="backtocollectionindex"><a href="/photography/">« Photography</a></h3>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

  </div>

  <div class="photosetwrapper">
      {% for image in site.static_files %}
          {% if image.path contains setbasepath %}
              {% if image.path contains '/thumbs/' %}
              {% else %}
                  {% assign imagefilename = image.path | remove : setbasepath %}
                  {% assign thumbnailpath = '/' | append: setbasepath | append: 'thumbs/' | append: imagefilename %}
                  <a href="{{ image.path }}"><img class="galleryphoto" src="{{ thumbnailpath }}" alt="Photo from {{ set }}"></a>
              {% endif %}
          {% endif %}
      {% endfor %}
  </div>

  <div class="wrapper">
    <p><a href="/photography/">« Back to Photography Index</a></p>
  </div>
</div>

{% include comments.html %}