---
layout: default
---

{% capture threshold1 %}{{'2009-10-15 00:00:00 +0000' | date: '%s'}}{% endcapture %}
{% capture threshold2 %}{{'2020-01-01 00:00:00 +0000' | date: '%s'}}{% endcapture %}
{% capture pagedate %}{{page.date | date: '%s'}}{% endcapture %}

<main>
  <header class="post-header">
    {% comment %} If the post is in a collection, display the collection name as a link above post title - otherwise it's part of the blog so link to that{% endcomment %}
    {% if page.collection != 'posts' %}
      {% assign thispagecollection = site.collections | where: "label", page.collection | first %}
      <nav class="backtocollectionindex"><a href="{{ thispagecollection.collectionindex }}">&laquo; {{ thispagecollection.collectiontitle }}</a></nav>
    {% else %}
      <nav class="backtocollectionindex"><a href="/blog">&laquo; Blog</a></nav>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "Written on %A %-d %B %Y" }}{{ page.last_update | date: "<br/>Last updated on %A %-d %B %Y" }}</p>
  </header>

  {% comment %} If collection 'posts' (i.e. a blog post) display a warning {% endcomment %}
  {% if pagedate < threshold1 and page.collection == 'posts' %}
    <div class="warning"><p>This is a very old post from my blog; so old that it was originally hosted on LiveJournal. The page has been preserved in case its content is of any interest, but formatting errors are likely and the page's original comments have been lost. Please <a href="/">go back to the homepage</a> to see the current contents of this site.</p></div>
  {% elsif pagedate < threshold2 and page.collection == 'posts' %}
    <div class="warning"><p>This is an pretty old post from my blog, which has been preserved in case its content is of any interest. You might want to <a href="/">go back to the homepage</a> to see some more recent stuff.</p></div>
  {% endif %}

  <article>
    {{ content }}
  </article>

  {% if page.collection == 'posts' %}
    {% comment %} If collection 'posts' (i.e. a blog post) look for previous/next posts the normal way {% endcomment %}
    {% assign prevurl = page.previous.url %}
    {% assign prevtitle = page.previous.title %}
    {% assign nexturl = page.next.url %}
    {% assign nexttitle = page.next.title %}
  {% elsif thispagecollection.showprevnext == true %}
    {% comment %} If in a collection, and the collection is tagged to have prev/next links at the bottom of posts, look for previous/next posts inside the collection, the complicated way {% endcomment %}

    {% for link in site[page.collection]  %}
      {% if link.title == page.title %}

        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = site[page.collection][forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.title %}
        {% endunless %}
      {% endif %}

    {% assign prev = link %}
    {% endfor %}
  {% endif %}

  {% comment %} If we got previous/next post links via either means, display pagination {% endcomment %}
  {% if prevurl or nexturl %}
    <div class="pagination">
      <div class="pagination-left">{% if prevurl %}<a href="{{prevurl}}">&laquo; Previous Post<br/>{{ prevtitle }}</a>{% endif %}</div>
      <div class="pagination-right">{% if nexturl %}<a href="{{nexturl}}">Next Post &raquo;<br/>{{ nexttitle }}</a>{% endif %}</div>
    </div>
  {% endif %}
</main>

{% comment %} If in a collection (i.e. not a blog post) or a blog post newer than the "LJ imported post" threshold, show comments box {% endcomment %}
{% if pagedate >= threshold1 or page.collection != 'posts' %}{% include comments.html %}{% endif %}
